body {
    background: #3498db;
}

#wrapper {
    margin: 0 auto;
    margin-top: 20px;
    float: none;
    text-align: center;
}

#wrapper h3 {
    font-family: Tahoma, "Times New Roman", Times, serif;
    font-size: 24px;
}

#result {
    margin-top: 20px;
}

#result a {
    text-decoration: none;
    color: #3498db;
}

#result .preview {
    display: block;
    width: 200px;
    margin: 0 auto;
}

#result .preview img {
    width: 200px;
}